.container-xl{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding:3%;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}
#titlelogo{
    width: 30rem;
    height: 15rem;
    justify-content:center;
    padding:5%;
    padding-top: 0%;
}
.title-container > p {
    font-size: 0.8em;
}
.carousel-container {
    display: flex;
    width:100%;
    justify-content: center;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100%;
}
.upload-file-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}