<div class="container my-3">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="history-tab" data-bs-toggle="tab" data-bs-target="#history-tab-pane" type="button" role="tab" aria-controls="history-tab-pane" aria-selected="true">
        History
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="community-tab" data-bs-toggle="tab" data-bs-target="#community-tab-pane" type="button" role="tab" aria-controls="community-tab-pane" aria-selected="false">
        Community
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="filerank-tab" data-bs-toggle="tab" data-bs-target="#filerank-tab-pane" type="button" role="tab" aria-controls="filerank-tab-pane" aria-selected="false">
        Rank
      </button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="history-tab-pane" role="tabpanel" aria-labelledby="history-tab" tabindex="0">
      <table id="usertable" class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">번호</th>
            <th scope="col">사용자</th>
            <th scope="col">제목</th>
            <th scope="col">작성일시</th>
            <th scop="col">예측결과</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {%for user in usermodel %}
          {%for p in probamodel%}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ user.authorname }}</td>
              <td>{{ user.filename }}</td>
              <td>{{ user.date }}</td>
              <td>{% if p.result == "Benign" %}
                <p>정상</p>
              {% else %}
                <p>악성</p>
              {% endif %}</td>
            </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% include "pagelist.html" %}
    </div>
    <div class="tab-pane fade" id="community-tab-pane" role="tabpanel" aria-labelledby="community-tab" tabindex="1">
      <table id="usertable" class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">번호</th>
            <th scope="col">사용자</th>
            <th scope="col">파일이름</th>
            <th scope="col">업로드일시</th>
            <th scop="col">예측결과</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {%for matchfile in matchfilemodel %}
          {%for p in probamodel%}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ matchfile.authorname }}</td>
              <td>{{ matchfile.filename }}</td>
              <td>{% if p.result == "Benign" %}
                <p>정상</p>
              {% else %}
                <p>악성</p>
              {% endif %}</td>
              <td>{{ matchfile.date }}</td>
            </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>
      {% include "pagelist.html" %}
    </div>
    <div class="tab-pane fade" id="filerank-tab-pane" role="tabpanel" aria-labelledby="filerank-tab" tabindex="2">
      <table id="usertable" class="table table-hover">
        <thead class="table-dark">
          <tr>
            <th scope="col">번호</th>
            <th scope="col">파일이름</th>
            <th scope="col">조회횟수</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
          {%for r in rankmodel %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{ r.filename }}</td>
              <td>{{ r.count }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
      {% include "pagelist.html" %}
    </div>
  </div>
</div>