.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding:3%;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}
#titlelogo{
    width: 20rem;
    height: 10rem;
    justify-content:center;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.content-container > p {
    font-size: 10px;
}