html, body {
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding:3%;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height:100%;
}
#titlelogo{
    width: 20rem;
    height: 10rem;
    justify-content:center;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
.content-container > p {
    font-size: 10px;
}

/*모달창 시작*/
.modal {
    position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        display: none;

        background-color: rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 5px gray;
}
.modal.show {
    display: block;
  }
  
  .modal_body {
    position: absolute;
    top: 50%;
    left: 50%;
  
    width: 400px;
    height: 600px;
  
    padding: 40px;
  
    text-align: center;
  
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  
    transform: translateX(-50%) translateY(-50%);
  }
  /*모달창 끝*/