@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
    font-family: 'Pretendard';
    src: url('./images/Pretendard-Thin.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}
.container-xl{
    display:flex;
    flex-direction: column;
    width:100%;
    height:100vh;
    padding:3%;
}
.title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    background-color: aliceblue;
}
#titlelogo{
    width: 30rem;
    height: 15rem;
    justify-content:center;
    padding:2em;
    padding-top: 0%;
}
.p-container{
    padding:1em;
}
.p-container > p {
    display: inline;
    font-size: 0.8em;
    color:black;
}
.content-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
}
.upload-file-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}
.filecontent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    padding: 3em;
}
#fileBtn{
    padding: 6px 25px;
    background-color: cornflowerblue;
    border-radius: 4px;
    color:white;
    cursor: pointer;
}
#input-file{
    display: none;
}
.filecontent-container > p{
    font-size: 0.8em;
}
.footer{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
}
.tools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.documentation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
ul{
    list-style: none;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
}
ul > li{
    display: inline-block;
    font-size: 0.8em;
    margin-right: 2em;
}